<md-dialog aria-label="File specification for {{item}} upload">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>File specification for {{inputFile}} upload</h2>
                <span flex></span>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                The input (<a href="{{example}}" target="_blank">example</a>) must be excel spreadsheets (xlsx/xls) or
                plain text comma separated value (csv) file with columns listed below. All columns must be present but
                their order does not matter and cells can be left empty unless marked as <i>required</i>.
                <md-list>
                    <md-list-item ng-repeat="field in expectedFields">
                        <p><b>{{field.name}}</b>, {{field.type}}: {{field.title}}
                            <i ng-if="field.constraints.enum">must be one of: [<i
                                ng-repeat="item in field.constraints.enum">"{{item}}", </i>]</i>
                            <i ng-if="field.constraints.required">(required)</i>
							<i ng-if="field.constraints.pattern">(must match: {{field.constraints.pattern}})</i>
                        </p>
                    </md-list-item>
                </md-list>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="close()">
                Close
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
